@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: GeistMono;
  src: url('./assets/fonts/GeistMono-Regular.otf') format('opentype');
}

@font-face {
  font-family: Permanent Marker;
  src: url('./assets/fonts/PermanentMarker-Regular.ttf') format('truetype');
}

@layer utilities {
  .mobile-menu-height {
    min-height: calc(100vh - 65.6px);
  }

  .toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-white [&>div]:rotate-[720deg];
  }
}
